/* My Short URL styles */

body {
    background: #333;
    color: white;
    width: 500px;
    margin: auto;
    padding-top: 100px;
    text-align: center;
    font-family: sans-serif;
}

input[type=text] {
    width: 85%;
    height: 40px;
    font-size: 25px;
    color: #444;
}

input[type=submit] {
    height: 40px;
    width: 60px;
    background: white;
    float: right; 
}

a {
    color: #999;
}

.error {
    color: red;
    font-style: italic;
}

